@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('media/Road_Rage.otf');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li{
    list-style-type : none;
}
h1{
    background-position-x: 50%;
    background-position-y: center;
    font-family: 'Road Rage', sans-serif;
    text-align: center;
    font-size: 4em;
    color: #242424;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 1.6em;
}

a{
    text-decoration: none;
    color: #000000;
}

h3{
    text-align: center;
    font-size: 1.5em;
    padding-top: 30px;
}

p{
    text-align: center;
    font-size: 1.4em;
}

nav{
    overflow: hidden;
    background-color: #2a3957;
    position: fixed;
    width :100%;
    opacity: 0.9;
}

header li{
    float:right;
    font-size: 1.2em;
    padding: 0px 13px;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo{
    font-family: 'Montserrat', cursive;
    font-weight: bold;
    float: left;
}
